.NavBar-button {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.NavBar-dropdown {
  position: relative;
  display: inline-block;
}

.NavBar-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  background-color: #212529;
  min-width: 5em;
  min-height: 10em;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 1em;
}

/* Links inside the dropdown */
.NavBar-content a {
  color: black;
  color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.NavBar-content a:hover {
  background-color: #f1f1f1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.NavBar-dropdown:hover .NavBar-button {
  background-color: #000;
}

/* Show the dropdown menu on hover */
.NavBar-dropdown:hover .NavBar-content {
  display: block;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .NavBar-nav {
    background-color: transparent;
    padding: 0.7em;
    height: 5em;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .NavBar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 10px;
  }

  .NavBar-li-link {
    color: #010101;
    text-decoration: none;
    margin-right: 0.5em;
    font-size: large;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
