.animalDetails-img {
  width: 100%;
}

// .animalDetails-protecting {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   padding: 1em;

//   justify-content: flex-start;
// }

// .animalDetails-protecting-text {
//   text-align: center;
//   font-size: 1em;
// }


.animalDetails-protecting-img {
  border-radius: 50%;
  height: 6em;
  margin-right: .5em;
  // padding-right: .5em;
}
